.cardBody{
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: center;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 50vh;
}

.title{
    color: orange;
    font-family: 'KoHo', sans-serif; 
    text-decoration: none;
    width: 300px;
    align-self: center;
}

.title:hover{
    color: white;
    text-decoration: underline;
}

.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: orange;
    border: 1px solid white;
    text-align: center;
}

.summary{
    text-align: center;
    margin: 0px 10px;
}

.desc{
    display: flex;
    justify-content: space-around;
}

.sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
}