.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: relative;
}

.postpagebody{
    min-height: 85vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cover{
    height: 20%;
}