.body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
}

.postpagebody{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}