.App{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.title{
  font-family: 'KoHo', sans-serif;
  color: white;
  text-decoration: none;
  width: 300px;
}

.title:hover{
  text-decoration: underline;
  color: orange;
}

body{
  min-height: 100vh;
  background-color: black;
}